<nav class='nav-bar'>
  <% if current_admin? %>
    <h2><%= link_to 'Dashboard', admin_dashboard_path %></h2>
    <h2><%= link_to 'Categories', admin_categories_path %></h2>
    <h2><%= link_to 'Images', admin_images_path %></h2>
    <h2><%= link_to 'Users', admin_users_path %></h2>
    <%= button_to 'Logout', logout_path, method: 'delete' %>
  <% elsif current_user %>
    <h2><%= link_to 'Ideas', user_ideas_path(current_user) %></h2>
    <h2><%= link_to 'New Idea', new_user_idea_path(current_user) %></h2>
    <h2><%= link_to 'Profile', user_path(current_user) %></h2>
    <%= button_to 'Logout', logout_path, method: 'delete' %>
  <% else %>
    <div id='nav-login'>
      <%= button_to 'Login', login_path, method: 'get' %>
    </div>
  <% end %>
</nav>
